---
layout: archive
---
For any of the below, go to the docs for the sport you're inquiring about, i.e NBA docs
<ul>
  <li>Years supported</li>
  <li>Team Name mapping</li>
  <li>Player Attributes</li>
</ul>

[![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/c1fddd4fb5295868a703)


{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
