---
layout: archive
---
For any of the below, go to the docs for the sport you're inquiring,
ex: if the sport is NBA, click  NBA docs in the nav bar
<ul>
  <li>Years supported</li>
  <li>Team Name mapping</li>
  <li>Player Attributes</li>
</ul>

<div class="postman-run-button"
data-postman-action="collection/import"
data-postman-var-1="c1fddd4fb5295868a703"></div>
<script type="text/javascript">
  (function (p,o,s,t,m,a,n) {
    !p[s] && (p[s] = function () { (p[t] || (p[t] = [])).push(arguments); });
    !o.getElementById(s+t) && o.getElementsByTagName("head")[0].appendChild((
      (n = o.createElement("script")),
      (n.id = s+t), (n.async = 1), (n.src = m), n
    ));
  }(window, document, "_pm", "PostmanRunObject", "https://run.pstmn.io/button.js"));
</script>

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
